[Environment]
database_connection: sqlite:///csviati.sqlite
uploads_location_path: /THE/ABSOLUTE/PATH/TO/YOUR/UPLOADS/FOLDER/static/uploads/
conversion_api_server: http://95.142.165.24/csviati/
app_secret_key: YOUR_REALLY_SECRET_APP_KEY
