{% extends "layout.html" %}
{% block body %}
<h2>Internal Server Error</h2>
<fieldset>
<legend>Internal Server Error</legend>
<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application. If this error persists then please <a href="https://github.com/IATI/CSV2IATI/issues">report it on github</a> or email code [at] iatistandard [dot] org</p>
<p><a href="{{url_for('index')}}">Return to the Dashboard &raquo;</a></p>
</fieldset>
{{ pages }}
{% endblock %}
