{% extends "layout.html" %}
{% block body %}
<h1>Dashboard</h1>
<p>&nbsp;</p>
<div class="clearer"> </div>
<div id="login_register_forms_container">
<fieldset>
<legend>Your existing models</legend>
<ul class="model_ul">
{% for model in user_models %}
        <li><span class="ui-icon ui-icon-folder-open iconfloat_left">&nbsp;</span><a href="{{url_for('model', id=model.id)}}">{{model.model_name}}</a></li>
{% else %}
    <li>You don't have any models yet. Create one by uploading a CSV file on the right.</li>
{% endfor %}
</ul>
</fieldset>
<fieldset>
<legend>Create new model</legend>
<p>In order to convert your data to the IATI Standard, you need to create a "model" which explains how your data relates to the Standard.</p>
<p>To get started, give your model a name and upload a spreadsheet of data.</p>
<form action="{{url_for('create_model')}}" enctype="multipart/form-data" method="post" id="create_model_form">
<dl>
<dt>
<label for="model_name">Model name:</label>
</dt>
<dd>
<input type="text" id="model_name" name="model_name" />
</dd>
<dt>
<label for="upload_browser">Data file (CSV format):</label>
</dt>
<dd>
<input type="file" id="upload_browser" name="file" />
</dd>
<dt> </dt>
<dd>   
<div class="patience_box"></div>
<input type="submit" value="Create model" name="submit"/>
</dd>
</dl>
</form>
<h2>Preconditions</h2>
<ul>
<li>The spreadsheet must be saved in the CSV format.</li>
<li>All the data must be formatted according to the IATI Standard (e.g., all dates must be of the format <code>YYYY-MM-DD</code>)</li>
<li>All codelists must be incorporated into the data as a separate column (e.g. all recipient countries should have a recipient country code)</li>
<li>The data can have a maximum of one dimension of multiplicity per activity (e.g., multiple rows per sector, <b>or</b> mutliple rows per transaction, <b>or</b> multiple rows per recipient country, etc.).</li>
</ul>
</fieldset>
{% if admin %}
<div class="clearer">&nbsp;</div>
<fieldset>
<legend>All models</legend>
<ul>
{% for model in models %}
<li><a href="{{url_for('user', id=model.user_id)}}"><span class="ui-icon ui-icon-person iconfloat_left">&nbsp;</span>{{model.username}}</a></li>
<ul>
{%for this_user_models in model.user_models%}
    <li><a href="{{url_for('model', id=this_user_models.id)}}"><span class="ui-icon ui-icon-folder-open iconfloat_left">&nbsp;</span>{{this_user_models.model_name}}</a></li>
{% else %}
    <li>This user has not created any models yet.</li>
{% endfor %}
</ul>
{%endfor%}
</ul>
</fieldset>
{% endif %}
</div>
{%raw%}
<script>
$('#create_model_form').submit(function(e) {
    $('#create_model_form .patience_box').html('Uploading your file, please wait...').slideDown('slow');
});
</script>
{%endraw%}
{{ pages }}
{% endblock %}
