{% extends "layout.html" %}
{% block body %}
<p>Hello, {{user_name}}. | <a href="{{url_for('user', id=user_id)}}">Edit your profile</a> | {% if admin %}<a href="{{url_for('user')}}">Edit other users</a> | {%endif%} <a href="{{url_for('logout')}}">Logout</a></p>
<h1>Dashboard</h1>
<p>&nbsp;</p>
<div class="clearer"> </div>
<div id="login_register_forms_container">
<fieldset>
<legend>Your existing models</legend>
<ul>
{% for model in user_models %}
        <li><a href="{{url_for('model', id=model.id)}}">{{model.model_name}}</a></li>
{% else %}
    <li>You don't have any models yet. Create one by uploading a CSV file on the right.</li>
{% endfor %}
</ul>
</fieldset>
<fieldset>
<legend>Create new model</legend>
<form action="{{url_for('create_model')}}" enctype="multipart/form-data" method="post">
<dl>
<dt>
<label for="model_name">Model name:</label>
</dt>
<dd>
<input type="text" id="model_name" name="model_name" />
</dd>
<dt>
<label for="upload_browser">File:</label>
</dt>
<dd>
<input type="file" id="upload_browser" name="file" />
</dd>
<dt> </dt>
<dd>
<input type="submit" value="Create model" name="submit"/>
</dd>
</dl>
</form>
</fieldset>
{% if admin %}
<div class="clearer">&nbsp;</div>
<fieldset>
<legend>All models</legend>
<ul>
{% for model in models %}
<li><a href="{{url_for('user', id=model.user_id)}}">{{model.username}}</a></li>
<ul>
{%for this_user_models in model.user_models%}
    <li><a href="{{url_for('model', id=this_user_models.id)}}">{{this_user_models.model_name}}</a></li>
{% else %}
    <li>This user has not created any models yet.</li>
{% endfor %}
</ul>
{%endfor%}
</ul>
</fieldset>
{% endif %}
</div>
{{ pages }}
{% endblock %}
