<ul style="float:right; clear: none;">
    <li>
        Version {{version}}
    </li><li>
        <a href="https://github.com/IATI/CSV2IATI" target="_blank">Source on GitHub</a>
    </li><li>
        <a href="{{url_for('docs', docname='CHANGELOG.html')}}">Changelog</a> 
    </li><li>
	<a href="{{url_for('docs', docname='user_guide.html')}}">User Guide</a>
    </li><li>
        <a href="http://myaccount.zendesk.com/account/dropboxes/20239858" onClick="script: Zenbox.show(); return false;">Support</a>
    </li>
</ul>
