{% extends "layout.html" %}
{% block body %}

<div id="frontpage_right">
<div class="box_white">
	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/doc_csv.png') }}"></span><span class="frontpage_icon_text">Take your CSV file.</span>
	</div>
<!--
	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/upload.png') }}"></span><span class="frontpage_icon_text">Upload it</span>
	</div>
-->
	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/convert.png') }}"></span><span class="frontpage_icon_text">Convert it.</span>
	</div>

	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/doc_iati.png') }}"></span><span class="frontpage_icon_text">Get <a href="http://iatistandard.org">IATI XML</a> data.</span>
	</div>
</div>
</div>

<div id="frontpage_left">
<div id="login_register_forms_introbox">
<p>&nbsp;</p>
<p>To get started, login or register below. (It's free.)</p>
<p>For guidance, see the <a href="{{url_for('docs', docname='user_guide.html')}}">User Guide</a></p>
</div>

<div id="login_register_forms_container">
<fieldset name="login">
<legend>Login</legend>
<p><span style="color:red">NB: This is version 2 of the CSV conversion tool.</span> Users and models have <strong>not</strong> been migrated from the old version, so please sign up for a new account. Please contact <a href="mailto:support@iatistandard.org">support@iatistandard.org</a> if you need support with transferring models.</p>
<form method="post" action="{{url_for('login')}}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
<dl>
<dt><label for="login[username]">Username</label></dt>
<dd><input type="text" name="username" id="login[username]" /></dd>
<dt><label for="login[password]">Password</label></dt>
<dd><input type="password" name="password" id="login[password]" /></dd>
<dt> </dt>
<dd><input type="submit" value="Login" /></dd>
</dl>
</form>
</fieldset>
<fieldset name="register">
<legend>Register</legend>
<form method="post" action="{{url_for('register')}}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
<dl>
<dt><label for="username">Username</label></dt>
<dd><input type="text" name="username" id="username"/></dd>
<dt><label for="password">Password</label></dt>
<dd><input type="password" name="password" id="password" /></dd>
<dt><label for="user_name">Your name</label></dt>
<dd><input type="text" name="user_name" id="user_name" /></dd>
<dt><label for="email">Your email address</label></dt>
<dd><input type="text" name="email" id="email" /></dd>
<dt> </dt>
<dd><input type="submit" value="Register" /></dd>
</dl>
</form>
</fieldset>
</div>
</div>

<div id="clearer">&nbsp;</div>
</div>

<div id="credits">Version {{version}}. <a href="https://github.com/IATI/CSV2IATI">Source code on GitHub</a>. MIT Licensed.</div>
{% endblock %}
