<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.tmpl.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.form.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.sticky.js') }}"></script>
  <title>CSV2IATI</title>
  <link href="{{ url_for('static', filename='style.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='jquery-ui.css') }}" media="screen" rel="stylesheet" type="text/css" />
  {% block extrahead %}
  {% endblock %}
  </head>
<body>
<div id="page-wrapper">
<div id="beta">
    Version 2.2 (<a href="{{url_for('docs', docname='CHANGELOG.html')}}">What's New?</a>) 
    &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/IATI/CSV2IATI" target="_blank">Source code</a>
    &nbsp;&nbsp;&nbsp;
    <a href="http://myaccount.zendesk.com/account/dropboxes/20239858" onClick="script: Zenbox.show(); return false;">Support</a>
</div>
<div id="content">
<h1 class="title"><span>CSV2IATI</span></h1>
<hr class="title" />
{% if logged_in %}
<div class="nav">
<ul>
	<li>Hello, {{user_name}}.</li>
	<li><a href="{{url_for('index')}}">Dashboard</a></li>
	<li><a href="{{url_for('user', id=user_id)}}">Edit your profile</a></li>
	{% if admin %}<li><a href="{{url_for('user')}}">Edit other users</a></li>{%endif%}
	<li><a href="{{url_for('docs', docname='user_guide.html')}}">User Guide</a></li>
	<li><a href="{{url_for('logout')}}">Logout</a></li>
</ul>
</div>
<div class="clearer">&nbsp;</div>
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{category}}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endwith %}
{% block body %}{% endblock %}
<div id="clearer">&nbsp;</div>
</div>
</div>
<script type="text/javascript">
$('.flashes li').fadeIn('slow');
$('.flashes li').not('.flashes li.persist').delay(1500).fadeOut('slow');
</script>
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20239858",
      url:         "https://iati.zendesk.com",
      hide_tab: true
    });
  }
</script>
{% include 'extrascripts.html' ignore missing %}
</body>
</html>
