{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='modelstyle.css') }}" media="screen" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='forms.css') }}" media="screen" rel="stylesheet" type="text/css" />
<div id="model_page_view">
  <div class="banner" style="width:100%;color:#365e93;">
  <h1>Model: <span id="model_title"><a>{{model_name}}</a></span> &raquo; Tell us about your data</h1>
  <p><span id="save_model" class="save_model save_model_spacer">&nbsp;</span></p>
{% raw %}
  </div>
  <div id="right_pane_wrapper" style="float:right;width:20%;left:78%;">
  <div id="right_pane">
  <br />
  <p><span id="save_model" class="save_model"><a>Save model</a></span></p>
      <div id="right_pane_container">
      </div>


{% endraw %}
<br />

<div class="right_block"><code>

<a href="#" id="rename_model">Rename model</a>
<form id="rename_model_form" style="display:none" method="post">
<input type="text" name="model_name" value="{{model_name}}" />
<input type="submit" value="Change" />
</form><br/>

<a href="#" id="delete_model">Delete model</a>
<form id="delete_model_form" style="display:none" method="post">
<input type="text" name="delete" />
</form><br/>

{% if admin %}

<a href="#" id="move_model">Move to another user</a>
<form id="move_model_form" style="display:none" method="post">
<label for="model_owner">User:</label>
<select name="model_owner">
{% for user in all_users %}
    {% if user.id != model_owner %}
      <option value="{{user.id}}">{{user.username}}</option>
    {% endif %}
{% endfor %}
</select>
<input type="submit" value="Move" />
</form><br/>
{% endif %}

<a href="#" id="copy_model">Copy model</a>
<form id="copy_model_form" style="display:none" method="post">
{% if admin %}
<label for="model_owner">User:</label>
<select name="model_owner">
{% for user in all_users %}
    <option value="{{user.id}}" {% if user.id == model_owner %}selected{% endif %}>{{user.username}}</option>
{% endfor %}
</select>
{% endif %}
<input type="submit" name="copy" value="Copy" />
</form><br/>


<a href="#" id="showdebug">Show JSON</a>

</code></div>

<br />
<span id="model_csv_info">
<div class="right_block"><code>Source data:
    <a href="{{url_for('csv_file',id=id,filename=csv_file)}}">{{csv_file}}</a><br />
    <br/>
    <a href="#" id="csvdata_newfile">Upload new file</a>
        <form id="csvdata_newfile_upload" method="post" enctype="multipart/form-data" action="{{url_for('model_change_csv',id=id)}}">
        <input type="file" name="newcsvfile"/>
        <input type="submit" value="Upload"/>
        </form>
    <br /><a id="csvdata_edit" href="#" class="csvdata_closed">Use previously uploaded file</a></code>
<div id="csvdata_options"><ul>{% for csvfile in all_csv_files %}
{% if (csvfile.id == csv_id) %}
<li class="csvfile_opt csvfile_current">{{ csvfile.csv_file }} <i>(selected)</i></li>
{% else %}
<li class="csvfile_opt"><a href="{{url_for('model_change_csv',id=id,csv_id=csvfile.id)}}">{{ csvfile.csv_file }}</a></li>
{% endif %}
{% endfor %}
</ul></div></div>
<br />
<code title="Detected character encoding">Encoding: {{csv_encoding}}</code></sup><br />
<code title="Model creation date">Created: {{model_created}}</code></span>
{% raw %}

  </div>
  </div>
  <div class='content' style='width: 78%'>
    <div id='m1' class='modeleditor'>
      <div style="position:absolute">
      <div class='steps'>
        <ul>
          <li><a href='#' target='_blank'><span>1</span> Organisation information</a></li>
          <li>
            <a href='#'><span>2</span> Mapping</a>
            <ul class='steps_dimensions'>
            </ul>
            <ul>
                <li><a href='#iati_field_add'>Add a new element</a></li>
            </ul>
          </li>
          <li><a href='#'><span>3</span> Convert</a></li>
        </ul>
      </div>
      </div>
      <div class='forms'>
        <form action='#'>
          <!-- Dataset metadata -->
          <div class='formpart'>
            <h2>Organisation information</h2>
            <p>First, we need to collect some basic information about your organisation. You need to know:</p>
            <ul>
                <li>Your organisation name</li>
                <li>Your organisation's charity or company registration number (or equivalent)</li>
                <li>The currency of your data</li>
                <li>The language of your data</li>
            </ul>
            <dl>
              <fieldset id="reporting-org">
                  <legend>Your Organisation</legend>
                  <dt><label for='organisation[reporting-org][text]'>Name:</label></dt>
                  <dd><input type='text' name='organisation[reporting-org][text]'></dd>
                  <dd class='hints'>
                    The name of the organisation reporting this data. Examples: <code>Department for International Development</code>,
                    <code>Oxfam GB</code>, <code>United Nations Development Programme</code>.
                  </dd>
                  <dt><label for='organisation[reporting-org][ref]'>Ref:</label></dt>
                  <dd><input type='text' name='organisation[reporting-org][ref]'></dd>
                  <dd class='hints'>
                    A unique reference for this organisation. If this organisation is a registered charity or company, use the jurisidiction, followed by the registration body, followed by the registration code. Examples: <code>CA-CRA-89980-1815-RR0001</code> (Engineers Without Borders Canada),
                    <code>GB-CHC-202918</code> (Oxfam GB).
                  </dd>
                  <dt><label for='organisation[reporting-org][type]'>Type:</label></dt>
                  <dd><input type='text' name='organisation[reporting-org][type]'></dd>
                  <dd class='hints'>
                    The type of organisation. Examples: <code>21</code> (INGO, e.g. Oxfam GB). See <a href="http://iatistandard.org/codelists/organisation_type" target="_blank">Organisation Types</a>.
                  </dd>
              </fieldset>
              <fieldset id="other-org">
              <legend>Basic information</legend>
                  <dt><label for='organisation[default-currency]'>Currency:</label></dt>
                  <dd><input type='text' name='organisation[default-currency]' maxlength='3' class='short'></dd>
                  <dd class='hints'>
                    A 3-letter currency code. Examples: <code>USD</code>, <code>GBP</code>,
                    etc. See <a href='http://en.wikipedia.org/wiki/ISO_4217' target="_blank">ISO 4217</a>.
                  </dd>
                  
                  <dt><label for='organisation[lang]'>Language:</label></dt>
                  <dd><input type='text' name='organisation[lang]' maxlength='2' class='short'></dd>
                  <dd class='hints'>
                    The 2-letter language code. Examples: <code>en</code>, <code>fr</code>,
                    etc. See <a href='http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes' target="_blank">ISO 639-1</a>.
                  </dd>
              </fieldset>
              <fieldset id="contact-org">
              <legend>Contact details</legend>
                  <dd class='hints'>
                    Please provide contact information for enquiries about your activities. This can be either a generic contact or specific individual providing there are no privacy concerns and there is an automatic update when the individual changes job.
                  </dd>
                  <dt><label for='organisation[contact-info][person-name]'>Person name:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][person-name]'></dd>
                  <dd class='hints'>
                   The name of the contact at the organisation.
                  </dd>
                  <dt><label for='organisation[contact-info][telephone]'>Telephone:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][telephone]'></dd>
                  <dd class='hints'>
                   The contact's telephone number.
                  </dd>
                  <dt><label for='organisation[contact-info][email]'>Email address:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][email]'></dd>
                  <dd class='hints'>
                   	The contact's email address.
                  </dd>
                  <dt><label for='organisation[contact-info][address]'>Address:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][address]'></dd>
                  <dd class='hints'>
                   	The contact's mailing address.
                  </dd>
              </fieldset>
              <fieldset id="advanced-org">
              <legend>Advanced controls</legend>
                  <dt><label for='organisation[data-encoding]'>Data Encoding:</label></dt>
                  <dd>
                  <input type="text" name="organisation[data-encoding]" value="{%endraw%}{{csv_encoding}}{%raw%}" readonly>
                  <dd class='hints'>
                    <p>The encoding of your data. This was automatically detected on import and can not be modified.</p>
                  </dd>
                  <dt><label for='organisation[data-structure]'>Data structure:</label></dt>
                  <dd>
                  <select name="organisation[data-structure][multiple]" id="multiple_rows_selector">
                  <option value="">One row per activity</option>
                  </select>
                  <dd class='hints'>
                    <p>How is your data structured? You can have one row per activity, or multiple rows per activity. 
                    If you select 'multiple rows', the converter will use the field you specify as the <code>iati-identifier</code> 
                    (presumably your project ID) to group your projects together.</p>
                    <p>Most of the activity information will be taken from one row in your CSV file. Additional rows will 
                    be used to construct multiple instances of the field you select above.</p>
                    <p>For example, if you select <code>Multiple sector rows per activity</code>, then each row with the same 
                    <code>iati-identifier</code> will create a new <code>sector</code>, which will be defined by whatever 
                    you state as the sector in your mapping.</p>
                  </dd>
                  <!--
                  <dt><label>Processing order:</label></dt>
                  <dd> <select name="organisation[data-structure][order]">
                  <option value="">Forward</option>
                  <option value="reverse">Reverse</option>
                  </select></dd>
                  <dd class='hints'>
                    <p>The converter will normally work through your file from the first row to the last row, and will 
                    take everything except <code>transaction</code> information for a project from the first instance 
                    of that project. If you would prefer it to use the last instance of the project instead, select the 
                    "Reverse" option above.</p>
                  </dd>
                  -->
                    <!--
                  <dt><label for='organisation[unique_keys]'>Unique keys:</label></dt>
                  <dd class='unique_keys_widget'></dd>
                  <dd class='hints'>
                    Every dataset needs a set of columns from the data file which will
                    <em>uniquely identify</em> any given spending entry in the data.
                  </dd>
                  -->
              </fieldset>

    
            </dl>
          </div>
          <!-- Dimension mapping -->
          <div class='formpart dimensions_widget'>
            <h2>Mapping</h2>
            <p>To convert your data to the IATI format, you need to map the columns in your data 
              to the IATI fields.</p>
              <ul>
              <li>Each field must be mapped to a single column or to a constant, if 
              there is one and the same value for all of your projects.</li>
              <ul><li>For example, you might 
              set <code>"Flow Type" -> Text</code> to <code>ODA</code> if all of your aid counts as Official Development Assistance.</li></ul>
            <li>This process will create one IATI field for every project in your data.
            Certain IATI fields are required, but others are optional.</li>
            <li>The form below shows by default some of the most commonly used fields.</li>
            <ul>
            <li><b>Add</b> additional (and duplicate) fields by selecting the field from the drop 
            down box and clicking "Add this field".</li>
            <li><b>Remove</b> fields by clicking "Delete this field" next to an optional field. You cannot remove required fields.</li>
            </ul>
            </ul>
            <dl>
            <div class='dimensions'>
            </div>
            </dl>
            <p>
            <!-- show all IATI fields -->
              <select id="iati_field_add" class="iati_field_add">
              </select>
            </p>
          </div>

          <!-- Conversion screen -->
          <div class='formpart'>
            <h2>Convert</h2>
            <p>If you're ready to convert, hit "Convert" below.</p>
            <p>Please remember to ensure you've saved your model first. Any changes made to the model since saving will not be retained.</p>

            <span class="save_model_spacer">&nbsp;</span>
            <span class="model_convert_button"><p><a href="{%endraw%}{{url_for('model_convert',id=id)}}{%raw%}">Convert</a></p></span>

            <br/><br/><br/>
            <p><a href="{%endraw%}{{ url_for('model_history',id=id) }}{%raw%}">View conversion history</a></p>
          </div>
        </form>
      </div> <!-- /.forms -->

      <!-- Unique keys template -->
      <script id='tpl_unique_keys' type='text/x-jquery-tmpl'>
        {{if keys.length == 0}}
          <em>No elements available yet.</em>
        {{/if}}
        {{each(i, key) keys}}
          {{if key.used}}
            <input type='hidden' name='dataset[unique_keys][]' value='${key.name}'>
            <span class='active'>
          {{else}}
            <span>
          {{/if}}
          ${key.name}
          </span>
        {{/each}}
      </script>

      <!-- Dimension column field template -->
      <script id='tpl_dimension_field' type='text/x-jquery-tmpl'>
        <tr data-field-name='${fieldName}' data-prefix='${prefix}' data-level='${level}' data-alternatives-counter="${field['alternatives-counter']}">
              <td style="border-left: ${level*2}px solid #365e93;">
                {{if iatiField == '_alternative' }}
                  ${altFieldName},
                  alternative
                {{/if}}
                ${fieldName}
                <input type='hidden' name='${prefix}[${fieldName}][datatype]' value='column'>
              </td>
              <td>
                <select class='column' name='${prefix}[${fieldName}][column]'></select>
                {{if field['text-transform-type'] !== undefined}}
                  <div class="transform">
                    Transform:
                    <select type="text" name="${prefix}[${fieldName}][text-transform-type]">
                      <option value=""></option>
                      <option value="date">Date</option>
                      <option value="multiply">Multiply</option>
                      <option value="text-before">Text Before</option>
                      <option value="text-after">Text After</option>
                      <option value="field-before">Field Before</option>
                      <option value="field-after">Field After</option>
                      <option value="crs-country-code">CRS-&gt;Country Code</option>
                      <option value="crs-country-name">CRS-&gt;Country Name</option>
                      <option value="crs-region-code">CRS-&gt;Region Code</option>
                      <option value="crs-region-name">CRS-&gt;Region Name</option>
                      <option value="crs-tied-status">CRS Tied Status</option>
                    </select>
                    {{if field['text-transform-type'] in {'date':'', 'multiply':'', 'text-before':'', 'text-after':'', 'field-before':'', 'field-after':''} }}
                      <input name="${prefix}[${fieldName}][text-transform-format]" size="10"/>
                    {{/if}}
                    {{if field['text-transform-type'] in {'crs-tied-status':''} }}
                      <div>
                        Untield:
                        <select class='column' name='${prefix}[${fieldName}][column2]'></select>
                      </div>
                      <div>
                        PartialTied:
                        <select class='column' name='${prefix}[${fieldName}][column3]'></select>
                      </div>
                    {{/if}}
                  </div>
                {{/if}}
              </td>
              <td>
                <div>
                  <select class='field_switch_constant'>
                    <option value="column" selected>Column</option>
                    <option value="fixed">Fixed</option>
                  </select>
                </div>
                <div style="display: none" class="advanced">
                <div>
                {{if field['text-transform-type'] !== undefined}}
                  <a href='#' class='field_remove_transform'>
                    <span class="ui-icon iconfloat_left">&nbsp;</span>
                    remove transform
                  </a>
                {{else}}
                  <a href='#' class='field_add_transform'>
                    <span class="ui-icon iconfloat_left">&nbsp;</span>
                    add transform
                  </a>
                {{/if}}
                </div>
                {{if iatiField != '_alternative' }}
                  <div>
                  <a href='#' class='field_add_alternative'>
                    <span class="ui-icon iconfloat_left">&nbsp;</span> 
                    add alternative
                  </a>
                  </div>
                {{/if}}
              </div>
              </td>
              <td>
                {{if required(fieldName, iatiField) == true}}
                <span title="This attribute is required" class="ui-icon ui-icon-star iconfloat_right">&nbsp;</span>
                {{else}}
                <a href='#' class='show_advanced'><span title="Toggle advanced options" href='#' class='ui-icon ui-icon-wrench iconfloat_left'>&nbsp;</span></a>
                <a href='#' class='field_rm'><span title="Delete this attribute" class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
                {{/if}}
              </td>
        </tr>
          {{if iatiField != '_alternative' }}
            <input type="hidden" name="${prefix}[${fieldName}][alternatives-counter]" class="alternativesCounter" />
          {{/if}}
          {{each(n,alternative) field.alternatives}}
            {{if alternative.datatype === 'constant'}}
              {{tmpl({'fieldName': n, 'field': field['alternatives'][n], 'prefix':prefix+'['+fieldName+'][alternatives]', 'level':level+1, 'dimensionName':dimensionName, 'required': required, 'iatiField': '_alternative', 'altFieldName':fieldName }) '#tpl_dimension_field_const'}}
            {{else}}
              {{tmpl({'fieldName': n, 'field': field['alternatives'][n], 'prefix':prefix+'['+fieldName+'][alternatives]', 'level':level+1, 'dimensionName':dimensionName, 'required': required, 'iatiField': '_alternative', 'altFieldName':fieldName }) '#tpl_dimension_field'}}
            {{/if}}
          {{/each}}
      </script>
      
      <!-- Dimension constant field template -->
      <script id='tpl_dimension_field_const' type='text/x-jquery-tmpl'>
        <tr data-field-name='${fieldName}' data-prefix='${prefix}' data-level='${level}'>
              <td style="border-left: ${level*2}px solid #365e93;">
                {{if iatiField == '_alternative' }}
                  ${altFieldName},
                  alternative
                {{/if}}
                ${fieldName}
                <input type='hidden' name='${prefix}[${fieldName}][datatype]' value='constant'>
              </td>
              <td><input type='text' name='${prefix}[${fieldName}][constant]'></td>
              <td>
                <select class='field_switch_column'>
                  <option value="column">Column</option>
                  <option value="fixed" selected>Fixed</option>
                </select>
              </td>
                {{if required(fieldName, iatiField) == true}}
              <td>
                <span title="This attribute is required" class="ui-icon ui-icon-star iconfloat_right">&nbsp;</span>
              </td>
                {{else}}
              <td>
                <a href='#' class='field_rm'><span title="Delete this attribute" class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
              </td>                
                {{/if}}
              </td>
        </tr>
          {{if iatiField != '_alternative' }}
            <input type="hidden" name="${prefix}[${fieldName}][alternatives-counter]" class="alternativesCounter" />
          {{/if}}
          {{each(n,alternative) field.alternatives}}
            {{if alternative.datatype === 'constant'}}
              {{tmpl({'fieldName': n, 'field': field['alternatives'][n], 'prefix':prefix+'['+fieldName+'][alternatives]', 'level':level+1, 'dimensionName':dimensionName, 'required': required, 'iatiField': '_alternative'}) '#tpl_dimension_field_const'}}
            {{else}}
              {{tmpl({'fieldName': n, 'field': field['alternatives'][n], 'prefix':prefix+'['+fieldName+'][alternatives]', 'level':level+1, 'dimensionName':dimensionName, 'required': required, 'iatiField': '_alternative'}) '#tpl_dimension_field'}}
            {{/if}}
          {{/each}}
      </script>

      <!-- Recursive table template -->
      <script id='tpl_table_recursive' type='text/x-jquery-tmpl'>
        {{each(n, f) data.fields}}
          {{if f.datatype === 'compound'}}
            <tr data-prefix='${prefix}' data-field-name='${n}'>
              <td colspan="4" style="border-left: ${(level+1)*2}px solid #365e93; border-top: ${(level+1)*2}px solid #365e93">
                <input type='hidden' name='${prefix}[${n}][datatype]' value='${f.datatype}'>
                <a href='#' class='field_rm'><span title="Delete this nesed element" class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
                <legend>${prefix2} ${f.label}</legend>
                <input type='hidden' name='${prefix}[${n}][label]' value='${f.label}'>
              </td>
            </tr>
              {{if default_fields && 'fields' in default_fields}} 
                {{tmpl({'data':f, 'prefix':prefix+'['+n+'][fields]', 'prefix2':prefix2+f.label+'/', 'level':level+1, 'name':name, 'formFieldRequired2':formFieldRequired2, 'iati_field':iati_field, 'default_fields':default_fields.fields[n]}) '#tpl_table_recursive'}} 
              {{else}}
                {{tmpl({'data':f, 'prefix':prefix+'['+n+'][fields]', 'prefix2':prefix2+f.label+'/', 'level':level+1, 'name':name, 'formFieldRequired2':formFieldRequired2, 'iati_field':iati_field, 'default_fields':{} }) '#tpl_table_recursive'}} 
              {{/if}}
          {{else f.datatype === 'constant'}}
            {{tmpl({'fieldName': n, 'field': f, 'prefix':prefix, 'level':level, 'dimensionName':name, 'required': formFieldRequired2, 'iatiField': iati_field}) '#tpl_dimension_field_const'}}
          {{else}}
            {{tmpl({'fieldName': n, 'field': f, 'prefix':prefix, 'level':level, 'dimensionName':name, 'required': formFieldRequired2, 'iatiField': iati_field}) '#tpl_dimension_field'}}
          {{/if}}
        {{/each}}
        <tr data-prefix='${prefix}' data-level='${level}'>
          <td colspan="4" style="border-left: ${level*2}px solid #365e93">
                <select class='add_field'>
                  <option>Add Attribute/Element to ${data.label}</option>
                  <option></option>
                {{if default_fields}}
                {{each(n,f) default_fields.fields}}
                  {{if data.fields && n in data.fields }}
                    <option value="${n}" disabled>${n}</option>
                  {{else}}
                    <option value="${n}">${n}</option>
                  {{/if}}
                {{/each}}
                {{/if}}
                  <option></option>
                  <option value="custom">Custom</option>
                  <option value="customnested">Custom (Nested)</option>
                </select>
          </td>

        </tr>
      </script>
      <!-- Dimension template -->
      <script id='tpl_dimension' type='text/x-jquery-tmpl'>
        <input type='hidden' name='mapping[${name}][datatype]' value='${data.datatype}'>
        {{if meta.fixedDataType}}
        <input type='hidden' name='mapping[${name}][datatype]' value='${data.datatype}'>
        {{/if}}

        <div style="position:relative; top: -20px">
        <a href='#' class='delete_dimension'><span title="Delete this element" class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
        <a href='#' class='copy_dimension'><span title="Copy this element" class="ui-icon ui-icon-copy iconfloat_right">&nbsp;</span></a>
        </div>

        <legend>${data.label}</legend>
        {{if meta.helpText}}<p>{{html meta.helpText}}</p>{{/if}}
        <span class="dataSample"></span>
        <dl>
            <dt><label>IATI element name:</label></dt>
            {{if !meta.fixedDataType}}
              <dd><select class='iatifield' name='mapping[${name}][iati-field]'></select></dd>
            {{else}}
              <dd>${iati_field}</dd>
              <input type='hidden' name='mapping[${name}][iati-field]' value='${iati_field}' class="iatifield">
            {{/if}}
          {{if data.datatype === 'value'}}
            <dt><label>Column:</label></dt>
            <dd>
              <select class='column' name='mapping[${name}][column]'></select>
            </dd>
            {{if !meta.fixedDataType}}
              <dt><label>Data type:</label></dt>
              <dd>
                <select name='mapping[${name}][datatype]'>
                  <option value='float'>float</option>
                  <option value='string'>string</option>
                </select>
              </dd>
            {{/if}}
          {{/if}}
          <input type='hidden' name='mapping[${name}][label]' value='${data.label}'>
        </dl>
        {{if data.datatype == 'compound' }}
          <table class='fields'>
            <thead>
              <tr>
                <td>Attribute</td>
                <td>Column/Const</td>
                <td>Change type</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              {{tmpl({'data': data, 'meta': meta, 'prefix':'mapping['+name+'][fields]', 'prefix2':'', 'level':0, 'name':name, 'formFieldRequired2':formFieldRequired2, 'iati_field':iati_field, 'default_fields':default_fields}) '#tpl_table_recursive'}} 
            </tbody>
          </table>
        {{/if}}
      </script>
    </div> <!-- /.modeleditor -->
  </div> <!-- /.content -->

  {%endraw%}
  <form action="{{url_for('model',id=id)}}" method="post" name="model_data" id="model_data" style="position:fixed; top:40px; bottom:40px; left:40px; right:40px; display:none; z-index: 2">
    <a href="#" id="hidedebug">
      <span class="ui-icon ui-icon-circle-close" style="float:right; position:fixed; right: 20px; top: 20px">&nbsp;</span>
    </a>
    <textarea id="debug" name="model" style="width:100%; height:100%;">{{model_content}}</textarea>
  </form>

  <!--
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js'></script>
  <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>-->
  <script src='{{ url_for('static', filename='main.js') }}'></script>
  {%raw%}
  <script>
    $('#save_model a').click(function(){
      $('.forms').find('form').change()
      $('#model_data').ajaxSubmit({
        success: function() {
            flash = $('<li class="good">Model saved</li>')
            $('.flashes').append(flash);
            $('ul.flashes').css('position','fixed');
            $('ul.flashes').css('top','0px');
            $('ul.flashes').css('left','25px');
            $('ul.flashes').css('right','25px');
            flash.fadeIn('slow');
            flash.not('.flashes li.persist').delay(1500).fadeOut('slow');
          },
        error: function(xhr) {
            flash = $('<li class="bad">Error saving model: '+xhr.responseText+'</li>')
            $('.flashes').append(flash);
            $('ul.flashes').css('position','fixed');
            $('ul.flashes').css('top','0px');
            $('ul.flashes').css('left','25px');
            $('ul.flashes').css('right','25px');
            flash.fadeIn('slow');
            flash.not('.flashes li.persist').delay(1500).fadeOut('slow');
          }
      });
    });
    jQuery(function($) {
      var column_data=[{%endraw%}{% for header in csv_headers %}{% if not loop.first %}, {%endif%}"{{header}}"{% endfor %}{%raw%}];

      // Build the list of iati field names from DEFAULT_FIELD_SETUP
      var iati_data = [];
      for(var key in DEFAULT_FIELD_SETUP) {
        if(DEFAULT_FIELD_SETUP.hasOwnProperty(key)) {
          iati_data.push(key);
        }
      }
      var model_data = $('#debug').text();
      $('#model_page_view').modelEditor({
        'columns': column_data,
        'iatifields': iati_data,
        'model_data': model_data
      });
      var me = $('#m1').data('modelEditor');
      /*
      $('#model_title a').click(function() {
        $('#model_title').html(function() {
            var model_title;
            model_title = $('#model_title').text();
            return '<input type="text" name="model_title" value="' + model_title + '" />';
        });
      });
      */
      /*$('#debug').change(function () {
        me.data = JSON.parse($(this).val())
        $('#m1').trigger('modelChange')
      });
      */
      $('.modeleditor form').first().change();


    $('#csvdata_edit').click(function() {
	$('#csvdata_options').animate({
          height: 'toggle'
        }, 500, function() {
          // Animation complete.
        });
        return false;
    });
    $('#csvdata_newfile').click(function() {
	$('#csvdata_newfile_upload').animate({
	  height: 'toggle'
	}, 500, function () {
	  // Animation complete.
	});
        return false;
    });
    $('#rename_model').click(function() {
        $('#rename_model_form').toggle();
        return false;
    });
    $('#delete_model').click(function() {
        if (confirm('Are you sure you want to delete this model?'))
            $('#delete_model_form').submit();
        return false;
    });
    $('#move_model').click(function() {
        $('#move_model_form').toggle();
        return false;
    });
    $('#copy_model').click(function() {
        $('#copy_model_form').toggle();
        return false;
    });
    $(".steps").sticky({topSpacing:0});
    $("#right_pane").sticky({topSpacing:0, getWidthFrom:'#right_pane_wrapper'});
    })
  </script>
{%endraw%}
{% endblock %}
