{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='modelstyle.css') }}" media="screen" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='forms.css') }}" media="screen" rel="stylesheet" type="text/css" />
<p><a href="{{url_for('index')}}">&laquo; Dashboard</a> | <a href="{{url_for('logout')}}">Logout</a></p>
<div id="model_page_view">
  <div class="banner" style="width:100%;color:#365e93;">
  <h1><span id="model_title"><a>{{model_name}}</a></span>: Map your dimensions</h1>
<span id="model_csv_info">
<p><code><a href="{{url_for('csv_file',id=id,filename=csv_file)}}">CSV source data</a></code><br />
<code title="Detected character encoding">Encoding: {{csv_encoding}}</code></sup><br />
<code title="Model creation date">Created: {{model_created}}</code></p></span>
  <p><span id="save_model" class="save_model"><a>Save model</a></span></p>
{% raw %}
  </div>
  <div id="right_pane" style="float:right;width:28%;position:fixed;left:70%;">
      <div id="columns">
        <p><b>Columns in your data</b> <a class="fieldsbuttons fieldsbuttons-selected allbtn" href="#">Show all</a> <a class="fieldsbuttons availablebtn" href="#">Show available</a></p>
        <ul>
        </ul>
      </div>
      <div id="iatifields">
        <p><b>IATI fields</b> <a class="fieldsbuttons fieldsbuttons-selected allbtn" href="#">Show all</a> <a class="fieldsbuttons availablebtn" href="#">Show available</a></p>
        <ul></ul>
      </div>
      <form action="{%endraw%}{{url_for('model',id=id)}}{%raw%}" method="post" name="model_data" id="model_data">
      <textarea id="debug" name="model" style='display:none;'>{%endraw%}{{model_content}}{%raw%}</textarea>
      </form>
  </div>
  <div class='content' style='width: 70%'>
    <div id='m1' class='modeleditor'>
      <div class='steps'>
        <ul>
          <li><a href='#'><span>1</span> Organisation information</a></li>
          <li>
            <a href='#'><span>2</span> Dimension mapping</a>
            <ul class='steps_dimensions'>
            </ul>
          </li>
          <li><a href='#'><span>3</span> Convert</a></li>
        </ul>
      <div class="modeltoggle"><a href="#" id="showdebug">Show model</a></div>
      </div>
      <div class='forms'>
        <form action='#'>
          <!-- Dataset metadata -->
          <div class='formpart'>
            <h2>Organisation information</h2>
            <p>First, we need to collect some basic information about your organisation. You need to know:</p>
            <ul>
                <li>Your organisation name</li>
                <li>Your organisation's charity or company registration number (or equivalent)</li>
                <li>The currency of your data</li>
                <li>The language of your data</li>
            </ul>
            <dl>
              <fieldset id="reporting-org">
                  <legend>Your Organisation</legend>
                  <dt><label for='organisation[reporting-org][text]'>Name:</label></dt>
                  <dd><input type='text' name='organisation[reporting-org][text]'></dd>
                  <dd class='hints'>
                    The name of the organisation reporting this data. Examples: <code>Department for International Development</code>,
                    <code>Oxfam GB</code>, <code>United Nations Development Programme</code>.
                  </dd>
                  <dt><label for='organisation[reporting-org][ref]'>Ref:</label></dt>
                  <dd><input type='text' name='organisation[reporting-org][ref]'></dd>
                  <dd class='hints'>
                    A unique reference for this organisation. If this organisation is a registered charity or company, use the jurisidiction, followed by the registration body, followed by the registration code. Examples: <code>CA-CRA-89980-1815-RR0001</code> (Engineers Without Borders Canada),
                    <code>GB-CHC-202918</code> (Oxfam GB).
                  </dd>
                  <dt><label for='organisation[reporting-org][type]'>Type:</label></dt>
                  <dd><input type='text' name='organisation[reporting-org][type]'></dd>
                  <dd class='hints'>
                    The type of organisation. Examples: <code>21</code> (INGO, e.g. Oxfam GB).
                  </dd>
              </fieldset>
              <fieldset id="other-org">
              <legend>Basic information</legend>
                  <dt><label for='organisation[default-currency]'>Currency:</label></dt>
                  <dd><input type='text' name='organisation[default-currency]' maxlength='3' class='short'></dd>
                  <dd class='hints'>
                    A 3-letter currency code. Examples: <code>USD</code>, <code>GBP</code>,
                    etc. See <a href='http://en.wikipedia.org/wiki/ISO_4217'>ISO 4217</a>.
                  </dd>
                  
                  <dt><label for='organisation[lang]'>Language:</label></dt>
                  <dd><input type='text' name='organisation[lang]' maxlength='2' class='short'></dd>
                  <dd class='hints'>
                    The 2-letter language code. Examples: <code>en</code>, <code>fr</code>,
                    etc. See <a href='http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes'>ISO 639-1</a>.
                  </dd>
              </fieldset>
              <fieldset id="contact-org">
              <legend>Contact details</legend>
                  <dd class='hints'>
                    Please provide contact information for enquiries about your activities. This can be either a generic contact or specific individual providing there are no privacy concerns and there is an automatic update when the individual changes job.
                  </dd>
                  <dt><label for='organisation[contact-info][person-name]'>Person name:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][person-name]'></dd>
                  <dd class='hints'>
                   The name of the contact at the organisation.
                  </dd>
                  <dt><label for='organisation[contact-info][telephone]'>Telephone:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][telephone]'></dd>
                  <dd class='hints'>
                   The contact's telephone number.
                  </dd>
                  <dt><label for='organisation[contact-info][email]'>Email address:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][email]'></dd>
                  <dd class='hints'>
                   	The contact's email address.
                  </dd>
                  <dt><label for='organisation[contact-info][address]'>Address:</label></dt>
                  <dd><input type='text' name='organisation[contact-info][address]'></dd>
                  <dd class='hints'>
                   	The contact's mailing address.
                  </dd>
              </fieldset>
              <fieldset id="advanced-org">
              <legend>Advanced controls</legend>
                  <dt><label for='organisation[data-encoding]'>Data Encoding:</label></dt>
                  <dd>
                  <input type="text" name="organisation[data-encoding]" value="{%endraw%}{{csv_encoding}}{%raw%}" readonly>
                  <dd class='hints'>
                    <p>The encoding of your data. This was automatically detected on import and can not be modified.</p>
                  </dd>
                  <dt><label for='organisation[data-structure]'>Data structure:</label></dt>
                  <dd>
                  <select name="organisation[data-structure][multiple]" id="multiple_rows_selector">
                  <option value="">One row per activity</option>
                  <option value="sector">Multiple rows per sector</option>
                  <option value="transaction">Multiple rows per transaction</option>
                  </select>
                  <dd class='hints'>
                    <p>How is your data structured? You can have one row per activity, or multiple rows per activity. 
                    If you select 'multiple rows', the converter will use the field you specify as the <code>iati-identifier</code> 
                    (presumably your project ID) to group your projects together.</p>
                    <p>Most of the activity information will be taken from one row in your CSV file. Additional rows will 
                    be used to construct multiple instances of the field you select above.</p>
                    <p>For example, if you select <code>Multiple rows per sector</code>, then each row with the same 
                    <code>iati-identifier</code> will create a new <code>sector</code>, which will be defined by whatever 
                    you state as the sector in your dimensions mapping.</p>
                  </dd>
                  <!--
                  <dt><label>Processing order:</label></dt>
                  <dd> <select name="organisation[data-structure][order]">
                  <option value="">Forward</option>
                  <option value="reverse">Reverse</option>
                  </select></dd>
                  <dd class='hints'>
                    <p>The converter will normally work through your file from the first row to the last row, and will 
                    take everything except <code>transaction</code> information for a project from the first instance 
                    of that project. If you would prefer it to use the last instance of the project instead, select the 
                    "Reverse" option above.</p>
                  </dd>
                  -->
                    <!--
                  <dt><label for='organisation[unique_keys]'>Unique keys:</label></dt>
                  <dd class='unique_keys_widget'></dd>
                  <dd class='hints'>
                    Every dataset needs a set of columns from the data file which will
                    <em>uniquely identify</em> any given spending entry in the data.
                  </dd>
                  -->
              </fieldset>

    
            </dl>
          </div>
          <!-- Dimension mapping -->
          <div class='formpart dimensions_widget'>
            <h2>Dimension mapping</h2>
            <p>To convert your data to the IATI format, you need to map the columns in your data 
              to the IATI fields.</p>
              <ul>
              <li>Each field must be mapped to a single column or to a constant, if 
              there is one and the same value for all of your projects.</li>
              <ul><li>For example, you might 
              set <code>"Flow Type" -> Text</code> to <code>ODA</code> if all of your aid counts as Official Development Assistance.</li></ul>
            <li>This process will create one IATI field for every project in your data.
            Certain IATI fields are required, but others are optional.</li>
            <li>The form below shows by default some of the most commonly used fields.</li>
            <ul>
            <li><b>Add</b> additional (and duplicate) fields by selecting the field from the drop 
            down box and clicking "Add this field".</li>
            <li><b>Remove</b> fields by clicking "Delete this field" next to an optional field. You cannot remove required fields.</li>
            </ul>
            </ul>
            <dl>
            <div class='dimensions'>
            </div>
            </dl>
            <p>
            <!-- show all IATI fields -->
              <select class="iati_field_add">
              </select>
            </p>
          </div>

          <!-- Conversion screen -->
          <div class='formpart'>
            <h2>Convert</h2>
            <p>If you're ready to convert, hit "Convert" below.</p>
            <p>Please remember to ensure you've saved your model first. Any changes made to the model since saving will not be retained.</p>
            <span class="model_convert_button"><p><a href="{%endraw%}{{url_for('model_convert',id=id)}}{%raw%}">Convert</a></p></span>
          </div>
        </form>
      </div> <!-- /.forms -->

      <!-- Unique keys template -->
      <script id='tpl_unique_keys' type='text/x-jquery-tmpl'>
        {{if keys.length == 0}}
          <em>No dimensions available yet.</em>
        {{/if}}
        {{each(i, key) keys}}
          {{if key.used}}
            <input type='hidden' name='dataset[unique_keys][]' value='${key.name}'>
            <span class='active'>
          {{else}}
            <span>
          {{/if}}
          ${key.name}
          </span>
        {{/each}}
      </script>

      <!-- Dimension column field template -->
      <script id='tpl_dimension_field' type='text/x-jquery-tmpl'>
        <tr data-field-name='${fieldName}'>
          {{if transaction}}
                <td>${fieldName}
                <input type='hidden' name='${prefix(fieldName,transaction_field,transaction_part)}[datatype]' value='column'>
                </td>

              <td><select class='column' name='${prefix(fieldName,transaction_field,transaction_part)}[column]'></select></td>
              <td>
                <a href='#' class='field_switch_constant_transaction'>to fixed value <span title="ui-icon-pencil" class="ui-icon ui-icon-pencil iconfloat_left">&nbsp;</span></a>
              </td>
                {{if required(fieldName, iatiField, transaction_field) == true}}
              <td>
                <span class="ui-icon ui-icon-star iconfloat_right">&nbsp;</span>
              </td>
                {{else}}
              <td>
                <a href='#' class='field_rm'><span class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
              </td>                
                {{/if}}
          {{else}}
              <td>${fieldName}
                <input type='hidden' name='${prefix(fieldName)}[datatype]' value='column'>
                </td>
              <td><select class='column' name='${prefix(fieldName)}[column]'></select></td>
              <td>
                <a href='#' class='field_switch_constant'>to fixed value <span title="ui-icon-pencil" class="ui-icon ui-icon-pencil iconfloat_left">&nbsp;</span></a>
              </td>
                {{if required(fieldName, iatiField) == true}}
              <td>
                <span class="ui-icon ui-icon-star iconfloat_right">&nbsp;</span>
              </td>
                {{else}}
              <td>
                <a href='#' class='field_rm'><span class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
              </td>                
                {{/if}}
          {{/if}}
        </tr>
      </script>

      <!-- Dimension constant field template -->
      <script id='tpl_dimension_field_const' type='text/x-jquery-tmpl'>
        <tr data-field-name='${fieldName}'>
          {{if transaction}}
              <td>
                ${fieldName}
                <input type='hidden' name='${prefix(fieldName,transaction_field,transaction_part)}[datatype]' value='constant'>
              </td>
              <td><input type='text' name='${prefix(fieldName,transaction_field,transaction_part)}[constant]'></td>
              <td>
                <a href='#' class='field_switch_column_transaction'><span title="ui-icon-carat-2-e-w" class="ui-icon ui-icon-carat-2-e-w iconfloat_left">&nbsp;</span>to column in data</a>
              </td>
                {{if required(fieldName, iatiField, transaction_field) == true}}
              <td>
                <span class="ui-icon ui-icon-star iconfloat_right">&nbsp;</span>
              </td>
                {{else}}
              <td>
                <a href='#' class='field_rm'><span class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
              </td>                
                {{/if}}
          {{else}}
              <td>
                ${fieldName}
                <input type='hidden' name='${prefix(fieldName)}[datatype]' value='constant'>
              </td>
              <td><input type='text' name='${prefix(fieldName)}[constant]'></td>
              <td>
                <a href='#' class='field_switch_column'><span title="ui-icon-carat-2-e-w" class="ui-icon ui-icon-carat-2-e-w iconfloat_left">&nbsp;</span>to column in data</a>
              </td>
                {{if required(fieldName, iatiField) == true}}
              <td>
                <span class="ui-icon ui-icon-star iconfloat_right">&nbsp;</span>
              </td>
                {{else}}
              <td>
                <a href='#' class='field_rm'><span class="ui-icon ui-icon-trash iconfloat_right">&nbsp;</span></a>
              </td>                
                {{/if}}
              </td>
          {{/if}}
        </tr>
      </script>

      <!-- Dimension template -->
      <script id='tpl_dimension' type='text/x-jquery-tmpl'>
        <input type='hidden' name='mapping[${name}][datatype]' value='${data.datatype}'>
        {{if meta.fixedDataType}}
        <input type='hidden' name='mapping[${name}][datatype]' value='${data.datatype}'>
        {{/if}}
        <legend>${data.label}</legend>
        {{if meta.helpText}}<p>{{html meta.helpText}}</p>{{/if}}
        <span class="dataSample"></span>
        <dl>
            <dt><label>IATI field name:</label></dt>
            {{if !meta.fixedDataType}}
              <dd><select class='iatifield' name='mapping[${name}][iati-field]'></select></dd>
            {{else}}
              <dd>${iati_field}</dd>
              <input type='hidden' name='mapping[${name}][iati-field]' value='${iati_field}' class="iatifield">
            {{/if}}
          {{if data.datatype === 'value'}}
            <dt><label>Column:</label></dt>
            <dd>
              <select class='column' name='mapping[${name}][column]'></select>
            </dd>
            {{if !meta.fixedDataType}}
              <dt><label>Data type:</label></dt>
              <dd>
                <select name='mapping[${name}][datatype]'>
                  <option value='float'>float</option>
                  <option value='string'>string</option>
                </select>
              </dd>
            {{/if}}
          {{/if}}
          <input type='hidden' name='mapping[${name}][label]' value='${data.label}'>
        </dl>
        {{if data.datatype == 'compound' }}
          <table class='fields'>
            <thead>
              <tr>
                <td>Attribute</td>
                <td>Column/Const</td>
                <td>Change type</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
            {{each(n, f) data.fields}}
              {{if f.datatype === 'constant'}}
                {{tmpl({'fieldName': n, 'prefix': formFieldPrefix, 'dimensionName':name, 'required': formFieldRequired2, 'iatiField': iati_field}) '#tpl_dimension_field_const'}}
              {{else}}
                {{tmpl({'fieldName': n, 'prefix': formFieldPrefix, 'dimensionName':name, 'required': formFieldRequired2, 'iatiField': iati_field}) '#tpl_dimension_field'}}
              {{/if}}
            {{/each}}
            </tbody>
          </table>
          <p><a class='add_field' href='#'>Add a field</a></p>
          <p><a class='delete_dimension' href='#'>Delete this dimension</a></p>
        {{/if}}
        {{if data.datatype == 'transaction' }}
        {{each(n, f) data.tdatafields}}
            <fieldset id="m1_dim_transaction_${n}" class="tdatafield" data-transaction-field-type="${n}">
            <legend>${f['label']}</legend>
            <input type="hidden" name="mapping[${name}][tdatafields][${n}][label]" value="${f['label']}" />
            <input type="hidden" name="mapping[${name}][tdatafields][${n}][iati-field]" value="${f['iati-field']}" />
            <table class='fields'>
                <thead>
                  <tr>
                    <td>Attribute</td>
                    <td>Column/Const</td>
                    <td>Change type</td>
                    <td>&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                {{each(x, y) f.fields}}
                  {{if y.datatype === 'constant'}}
                    {{tmpl({'fieldName': x, 'transaction_field': n, 'transaction_part': name, 'prefix': formFieldTransactionPrefix, 'required': formFieldRequired2, 'dimensionName': name, 'transaction':'yes', 'iatiField': iati_field}) '#tpl_dimension_field_const'}}
                  {{else}}
                    {{tmpl({'fieldName': x, 'transaction_field': n, 'transaction_part': name, 'prefix': formFieldTransactionPrefix, 'required': formFieldRequired2, 'dimensionName': name, 'transaction':'yes', 'iatiField': iati_field}) '#tpl_dimension_field'}}
                  {{/if}}
                {{/each}}
                </tbody>
              </table>
                <p><a class='delete_tdatafield' href='#'>Delete this part of the transaction</a></p>
              </fieldset>
        {{/each}}
          <p><a class='delete_dimension' href='#'>Delete this dimension</a></p>
        {{/if}}
      </script>
    </div> <!-- /.modeleditor -->
  </div> <!-- /.content -->
  
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js'></script>
  <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
  {%endraw%}
  <script src='{{ url_for('static', filename='main.js') }}'></script>
  {%raw%}
  <script>
    $('#save_model').click(function(){
        $('#model_data').submit();
    });
    jQuery(function($) {
      var column_data=[{%endraw%}{% for header in csv_headers %}{% if not loop.first %}, {%endif%}"{{header}}"{% endfor %}{%raw%}];
      var iati_data=['iati-identifier', 'title', 'description', 'activity-status','activity-date', 'participating-org','recipient-country','recipient-region', 'sector','policy-marker','collaboration-type','default-flow-type','default-finance-type','default-aid-type','default-tied-status','transaction','other-identifier'];
      var model_data = $('#debug').text();
      $('#model_page_view').modelEditor({
        'columns': column_data,
        'iatifields': iati_data,
        'model_data': model_data
      });
      $('#iatifields ul').html(function() {
        var iati_to_write = '';
        $.each(iati_data, function(index, value) {
            iati_to_write = iati_to_write + '<li><code class="available">' + value + '</code></li>';
        });
        return iati_to_write;
      });
      $('.iati_field_add').html(function() {
        var iati_to_write = '<option value="">Add a new field</option>';
        $.each(iati_data, function(index, value) {
            iati_to_write = iati_to_write + '<option value="' + value + '">' + value + '</option>';
        });
        return iati_to_write;
      });
      $('#columns ul').html(function() {
        var columns_to_write = '';
        $.each(column_data, function(index, value) {
            columns_to_write = columns_to_write + '<li><code class="available">' + value + '</code></li>';
        });
        return columns_to_write;
      });
      var me = $('#m1').data('modelEditor');
      /*
      $('#model_title a').click(function() {
        $('#model_title').html(function() {
            var model_title;
            model_title = $('#model_title').text();
            return '<input type="text" name="model_title" value="' + model_title + '" />';
        });
      });
      */
      /*$('#debug').change(function () {
        me.data = JSON.parse($(this).val())
        $('#m1').trigger('modelChange')
      });
      */
      $('.modeleditor form').first().change();
    })
  </script>
  
  <div class="credits" style="width:100%;color:#333333;">
  <p>Thanks to Nick Stenning and OKFN for the original code this mapping utility is based on.</p>
  </div>
{%endraw%}
{% endblock %}
