{% extends "layout.html" %}
{% block body %}
<div id="model_page_view">
  <div class="banner" style="width:100%;color:#365e93;">
  <h1>Model: <span id="model_title"><a>{{model_name}}</a></span> &raquo; Convert</h1>
  </div>
  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    <p><a href="{{ url_for('model', id=id) }}">Back to Model</a></p>

    <p>&nbsp;</p>
    <p><strong style="color:red">Note:</strong> Use the links below to help check your XML file. Once you are satisfied that the conversion has been completed correctly, please download the XML file and host it on your own website before adding it to <a href="http://iatiregistry.org/">the registry</a>.</p>
    <p>&nbsp;</p>

    <p>IATI-XML file saved to <a href="{{xml_url}}">{{xml_url}}</a> (<a href="{{ url_for('model_convert_download', id=id) }}">Download</a>)</p>
    <p><a href="http://tools.aidinfolabs.org/showmydata/index.php?url={{ xml_url_encoded }}" target="_blank">Preview</a>
    <form action="http://validator.iatistandard.org/" method="post" target="_blank"><input type="hidden" value="{{xml_url}}" name="url"><a href="" onclick="parentNode.submit();return false;">Validate</a></form></p>
  {% endif %}
</div>
{% endblock %}
